# Data
data/

# Python
--pycache__/
*.pyc
.ipyb_checkpoints/
.venv/


# Environment
.env
.venv

# Local / scratch Files
src/check_html.py
commands.txt

# macOS
.DS_Store.env

#Terraform
*.tfstate
*.tfstate.backup
.terraform/.DS_Store
